---
import type { GetStaticPathsOptions } from "astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../../consts";
import { getCollection } from "astro:content";
import Pagination from "@components/common/Pagination.astro";
// import BlogHeader from "@components/markdownSet/SubHeading.astro";
import { BLOG_CATEGORY } from 'src/consts';
import BlogTop from "@components/markdownSet/BlogTop.astro";
import { useTranslations } from '@i18n/util';
import SimpleContainer from '@components/markdownSet/SimpleContainer.astro';
const t = useTranslations(Astro);

// 分页数据在page参数中传递
const { page } = Astro.props;

const posts = await getCollection("blog");

const allPages = [...Array(page.lastPage).keys()].map((num) => {
    return `/blog/ecosystem${num === 0 ? "" : `/${String(num + 1)}`}`;
});

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const posts = await getCollection("blog");

    const sortedPosts = posts.sort(
        (a,b)=> new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
    );

    const ecosystemPosts = sortedPosts.filter((post) => {
        return post.data.category === "ecosystem";
    });
    return paginate(ecosystemPosts, { pageSize: 9 });
}
---

<BaseLayout title="Nacos Blog" >
    <BlogTop 
        title={t("blog.article.ecosystem.articles")}  
        type="blog-sub" 
        source="blog"
        category={BLOG_CATEGORY}
        activeCategory='ecosystem'
    />
    <div
        class="flex flex-col items-center gap-20 py-8 bg-gray-02"
    >
        <SimpleContainer 
            pageList={page.data}
            allPages={allPages}
        />

        <Pagination restRoute allPages={allPages} page={page} class="mx-auto" />
    </div>
</BaseLayout>